@charset "UTF-8";

#heartsvg{
    width:54px;
    height: 47px;
}

.heartmask{
    fill: white;
}

.heartpath{
    fill: #135646;
    cursor: pointer;
}

#heartstop1{
    stop-color: #099C52;
}

#heartstop1{
    stop-color: #1FD756;
}