@charset "UTF-8";
@import url('../../cssglobal/variaveis.css');

#heartsvg{
    width:54px;
    height: 47px;
    stroke: var(--cor3);
    transition: 0.8s ease;
}

#heartsvg:hover{
    fill: var(--cor4);
}

.heart-icon {
    cursor: pointer;
    transition: all 0.3s ease;
}

.heart-icon:hover {
    transform: scale(1.1);
}

.heart-icon.favorited {
    fill: var(--cor4);
    stroke: var(--cor3);
}