@charset "UTF-8";
@import url('../../cssglobal/variaveis.css');

#heartsvg{
    width:54px;
    height: 47px;
    stroke: var(--cor3);
    transition: 0.8s ease;
}

#heartsvg:hover{
    fill: var(--cor4);
}